.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    z-index: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left img {
    width: 80px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar-left ul li {
    cursor: pointer;
    font-size: 17px;
}

.link {
    text-decoration: none;
    list-style: none;
    font-size: 17px;
    color: #fff;
}

.navbar-left ul li input {
    width: 150px;
    padding: 3px 5px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-right .icons {
    width: 20px;
    cursor: pointer;
}

.navbar-right .profile {
    border-radius: 4px;
    width: 30px;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 7px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

.navbar .dropdown p {
    font-size: 14px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown {
    display: inline-block;
}